body { 
    background-color: black;
    text-align: center;
}
  
/* links */
a {
    font-family: fantasy;
    color: rgb(30, 255, 0);
    text-align: center;
    
  }
/* h1 Titles */
h1 {border: blueviolet solid;
    color: rgb(255, 255, 255);
}

li {
    color: rgb(30, 255, 0);
}

p {
    color: rgb(30, 255, 0);
}
